.whole-head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:55px;
    background-color: rgb(255, 255, 255);

    border-bottom: 1px solid lightgrey;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 100;
}

.left-part{
    display: flex;
    align-items: center;

    gap: 22px;
    padding-left: 19px;
}
.left-part img{
    cursor: pointer;
}

.hamburger-menu{
    width: 22px;
}
.youtube-logo{
    width: 83px;
}

.middle-part{
    flex: 1;
    margin-left: 65px;
    margin-right: 65px;
    max-width: 500px;

    display: flex;
    align-items: center;

    width: 100%;
    flex-shrink: 0;
}

button{
    position: relative;

}

.name-hover{
    position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 6px;
    background: rgba(97, 97, 97, 0.9);
    color: white;
    font-size: 12px;
    padding:5px 8px;
    border-radius: 2px;

    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
button:hover .name-hover{
    opacity:1;
}

.search-bar{
    flex-shrink: 0;
    height: 39px;
    width: 350px;
    font-size: 16px;
    padding-left: 11px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;

    outline: none;
    box-shadow: 0 0 5 1 lightgrey;
}
.search-bar:focus{
    border: 1px solid #1a73e8;
}


.Search-icon-button{
    height: 39px;
    width: 59px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
    margin-left: -1px;
    background-color: rgb(246, 244, 244);

    display: flex;
    align-items: center;
    justify-content: center;


    cursor: pointer;
}
.search-icon{
    width: 23px;
}

.search-voice-button{
    height: 39px;
    width: 40px;
    border: 1px none;
    border-radius: 39px;
    margin-left: 12px;
    background-color: rgb(247, 244, 244);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.search-voice{
    width: 25px;
}

.right-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;  
    margin-right: 19px  ;
    cursor: pointer;
}

.icon-wrapper{
    position : relative;

}

.icon-wrapper .name-hover{
    position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 6px;
    background: rgba(97, 97, 97, 0.9);
    color: white;
    font-size: 12px;
    padding:5px 8px;
    border-radius: 2px;

    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.icon-wrapper:hover .name-hover{
    opacity: 1;
}

.upload-icon{
    width: 23px;

}
.youtube-apps-icon{
    width: 23px;
}
.notifications-icon{
    width: 23px;
}

.notifications-container{
    position: relative;
}
.notifications-container span{
        position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 6px;
    background: rgba(97, 97, 97, 0.9);
    color: white;
    font-size: 12px;
    padding:5px 8px;
    border-radius: 2px;

    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.notifications-container:hover span{
    opacity: 1;
}

.notifications-in-count-num{
    position: absolute;
    top: -2px;
    right: -4px;

    background-color: rgb(204, 45, 45);
    color: white;
    border: 1.5px solid white;
    font-size: 9.5px;
    font-family: Roboto, arial;
    padding: 2px 4.5px 2px 4.5px;
    border-radius: 25px;
}


.my-channel-logo{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}